<!DOCTYPE html>
<html>
<head>
<title>Nirmaan Database</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: center;
}

a {
    display: inline-block;
    font-color: black;
    align-content: center;
    text-align: center;
    margin: 40px 15px 40px 15px;
    padding-left:25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px; 
    text-decoration: none;
    font-size: 30px
}

#a1{
    background-color: cyan;
}
</style>
</head>
<body>
<h1 align="center"> Project Akshara</h1>
<p align="center">
  <a href="home">Home</a>
  <a href="add">Add</a>
  <a href="delete">Delete</a>
  <a href="search">View/Search</a>
</p>

</body>
</html>

